*{
    box-sizing: border-box;
}

header{
    height: 3.9vh;
    border: 2px solid black;
    margin-bottom: 1.6vh;
}
main{
    height: 20.5vh;
    border: 2px solid black;
    margin-bottom: 3vh;
}
.section1{
    height: 19.2vh;
    border: 2px solid black;
    margin-bottom: 3vh;
}
.section2{
    height: 24.9vh;
    border: 2px solid black;
    margin-bottom: 4.6vh;
}
footer{
    height:19.3vh ;
    border: 2px solid black;
}


